<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link href="https://unpkg.com/sakura.css/css/sakura.css" rel="stylesheet" type="text/css">
  <script>

  </script>
</head>
<body>
<form method="post" id="create_form">
  <label for="name">Название</label>
  <input name="name" id="name" type="text"/>

  <label for="desc">Описание</label>
  <input name="description" id="desc" type="text"/>

  <label for="code">Код</label>
  <textarea name="code" id="code" form="create_form"></textarea>

  <label for="output">Вывод</label>
  <input name="output" id="output" type="text"/>
  <br>
  <button type="submit">Создать</button>
</form>
</body>
</html>